@page "/fetchdata"
@using BlazorDemo.App.Services

<h1>Chat Client</h1>
<input type="text" value="@this.Utterance" />
<input type="submit" value="Send" onclick="@this.SendUtterance" />
<hr />


@functions {
    public string Utterance { get; set; }
    public IEnumerable<string> MyProperty { get; set; }

    void SendUtterance()
    {
        
    }
}
